* {
    box-sizing: border-box;
}

body {
    background: #010922;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    line-height: 27.50px;
}

.container {
    max-width: 1035px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.header {
    margin-top: 103px;
    margin-bottom: 16px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 49px;
}

.menu__list-link {
    color: #E5E5E5;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: 27.50px;
    text-decoration: none;
}

.menu__list-link:hover {
    text-decoration: underline;
}

.top {
    margin-bottom: 133px;
}

.top__inner {
    padding: 84px 0 40px;
    background-image: url('../img/top-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.top__title {
    font-size: 87px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 48px;
    max-width: 505px;
}

.blink-title {
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.top__text {
    margin-bottom: 50px;
    max-width: 435px;
}

.top__links {
    width: 460px;
}

.top__nav1 {
    display: inline-block;
    width: 209px;
    margin-right: 39px;
}

.top__nav2 {
    display: inline-block;
    width: 207px;
}

.top__link-buy {
    color: white;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 43px;
    letter-spacing: 4.68px;
    word-wrap: break-word;
    text-decoration: none;
    padding: 22px 40px;
    background-color: #8D8DDA;
    border-radius: 149px;
    width: 200px;
}

.top__link-buy:hover {
    transition: all 0.3s linear;
    color: white;
    border: 1px solid white;
    background-color: rgba(28, 28, 28, 0);
}

.top__link-sell {
    color: white;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 43px;
    letter-spacing: 4.68px;
    word-wrap: break-word;
    padding: 22px 34px;
    border-radius: 149px;
    border: 1px solid #89D0D1;
    text-decoration: none;
}

.top__link-sell:hover {
    transition: all 0.3s linear;
    color: black;
    background-color: #89D0D1;
}

.article {
    margin-bottom: 80px;
}

.article__title {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 43px;
    letter-spacing: 4.68px;
    word-wrap: break-word;
    margin-bottom: 28px;
    margin-left: 59px;
}

.article__comp {
    padding: 10px 48px;
    background: rgba(46, 39, 97, 0.80);
    border-radius: 20px;
}

/* 
.article__comp:after {
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(37, 33, 85, 0) 0%,
      rgba(37, 33, 85, 1) 100%
    );
  } */

.article__comp:after {
    right: 0;
    background: linear-gradient(90deg,
            rgba(6, 39, 97, 0) 0%,
            rgba(6, 39, 97, 1) 100%);
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__comp-img+.article__comp-img {
    margin-left: 76px;
}

.items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
}

.items-wrap:before,
.items-wrap:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.items-wrap:before {
    left: 0;
    background: linear-gradient(90deg,
            rgba(37, 33, 85, 1) 0%,
            rgba(37, 33, 85, 0) 100%);
}

.items-wrap:after {
    right: 0;
    background: linear-gradient(90deg,
            rgba(37, 33, 85, 0) 0%,
            rgba(37, 33, 85, 1) 100%);
}

.items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
}

.item {
    display: flex;
    justify-content: center;
}

.marquee {
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

/* курсор с кружочком*/
.follow-cursor {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #89D0D1;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* центрируем кружок */
    position: absolute;
    /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
    z-index: 999;
    /* чтобы элемент был над остальными элементами */
    pointer-events: none;
    /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
    transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
}

/* Активный класс для кружка при наведении на ссылку */
.follow-cursor_active {
    height: 128px;
    width: 128px;
    border-width: 2px;
    background: rgba(137, 208, 209, 0.32);
}

/*кружок при ширине браузера меньше 992px скрывается*/
@media (max-width: 991.98px) {
    .follow-cursor {
        display: none;
    }
}

.analytics {
    padding: 120px 0 100px;
}

.analytics__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 108px;
}

.analytics__item-content {
    max-width: 491px;
}

.analytics__item-pretitle {
    margin-bottom: 18px;
}

.analytics__item-title {
    font-size: 57px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 65px;
    margin-bottom: 32px;
}

.analytics__item-text {
    margin-bottom: 61px;
}

.analytics__item-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 43px;
    letter-spacing: 4.68px;
    padding: 17px 14px;
    background: rgba(46, 39, 97, 0.80);
    border-radius: 44px;
}

.analytics__item-link:hover {
    transition: all 0.5s linear;
    background: black;
    border: 1px solid white;
}

.analytics__item-img1 {
    animation: bounce 3.5s infinite;
}

.analytics__item-img2 {
    animation: bounce 4.5s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

.reviews__inner {
    text-align: center;
    margin-bottom: 177px;
}

.reviews__inner-pretitle {
    color: #89D0D1;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 43px;
    letter-spacing: 4.68px;
}

.reviews__inner-title {
    color: #E5E5E5;
    font-size: 57px;
    font-family: Outfit;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 65px;
    margin-bottom: 110px;
}

.reviews__items {
    display: flex;
    justify-content: space-between;
}

.reviews__item {
    border-radius: 28px;
    background: #252155;
    position: relative;
    padding: 130px 21px 60px;
    transition: 1s;
}

.reviews__item:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 20px 0px white;
    z-index: 1;
}

.reviews__item+.reviews__item {
    margin-left: 15px;
}

.reviews__item-photo {
    position: absolute;
    right: 58px;
    top: -89px;
    border-radius: 105px;
}

.reviews__item-name {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    /* 238.889% */
    letter-spacing: 4.68px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.reviews__item-text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.offer {
    animation: bounce 5s infinite;
    position: relative;
}

.offer__inner {
    padding: 21px 249px 84px;
    margin-bottom: 192px;
    border-radius: 49px;
    background: linear-gradient(283deg, #52B2AC -13.18%, #302963 99.31%);
    text-align: center;
}

.offer__text {
    color: #000;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    /* 238.889% */
    letter-spacing: 4.68px;
    text-transform: uppercase;
    margin-bottom: 43px;
}

.offer__title {
    color: #FFFBFB;
    text-align: center;
    /* h2 */
    font-family: Outfit;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    /* 114.035% */
    letter-spacing: -1.14px;
    text-transform: capitalize;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 73px;
}

.offer__link {
    margin-top: 53px;
    color: #FFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* button big */
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    /* 134.375% */
    letter-spacing: 8.32px;
    text-transform: uppercase;
    padding: 20px 49px;
    text-decoration: none;
    border-radius: 43px;
    background: #000;
}

.offer__link:hover {
    transition: all 0.3s linear;
    border: 1px solid white;
    background: rgba(46, 39, 97, 0);
}

.footer__inner {
    padding: 0 0 140px;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    width: 100px;
    margin-left: 58px;
}

.footer__menu-title {
    margin-bottom: 19px;
    color: #FFFCFC;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__menu-item {
    margin-bottom: 12px;
}

.footer__menu-link {
    color: #FFFCFC;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    text-decoration: none;
}

.footer__menu-link:hover {
    text-decoration: underline;
}

.footer__form {
    margin-left: 100px;
    position: relative;
}

.footer__form-text {
    color: #FFFCFC;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 38px;
}

.footer__form-input {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 191px;
    padding-left: 21px;
    border-radius: 28px;
    background: #252155;
    border: 0;
    /*position: relative;*/
}

.footer__form-btn {
    padding: 3px 21px;
    color: #FFFCFC;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 28px;
    background-color: #52B2AC;
    border: 0;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    left: 220px;
}

.footer__form-input::placeholder {
    color: #FFFCFC;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
}

.footer__line {
    height: 27px;
    background: linear-gradient(283deg, #52B2AC -13.18%, #302963 99.31%);
}

/*круги на фоне*/

.circle__violet {
    border-radius: 648px;
    background: #8D8DDA;
    filter: blur(153px);
    width: 603px;
    height: 648px;
}


.circle__green {
    border-radius: 648px;
    background: rgba(137, 208, 209, 0.64);
    filter: blur(153px);
    width: 603px;
    height: 648px;
}

.header__circle {
    position: absolute;
    top: -474px;
    left: -20%;
    z-index: -1;
}

.top__circle {
    position: absolute;
    left: 65%;
    top: -12%;
    z-index: -1;
}

.analytics__circle {
    position: absolute;
    top: 190px;
    left: -20%;
    z-index: -1;
}

.reviews__circle-1 {
    position: absolute;
    left: 68%;
    top: -23%;
    z-index: -1;
}

.reviews__circle-2 {
    position: absolute;
    top: 50%;
    right: 62%;
    z-index: -1;
}

.offer__circle {
    position: absolute;
    top: 34%;
    left: 67%;
    z-index: -1;
}

@media (max-width: 1200px) {

    

    .offer__circle {
        position: absolute;
        top: 34%;
        left: 49%;
        z-index: -1; }


        .reviews__circle-2 {
            position: absolute;
            top: 50%;
            right: 45%;
            z-index: -1; }



            .reviews__circle-1 {
                position: absolute;
                left: 36%;
                top: -23%;
                z-index: -1; }


                .analytics__circle {
                    position: absolute;
                    top: 190px;
                    left: -20%;
                    z-index: -1; }



                    .top__circle {
                        position: absolute;
                        left: 36%;
                        top: -3%;
                        z-index: -1; }


                        .header__circle {
                            position: absolute;
                            top: -474px;
                            left: -20%;
                            z-index: -1;
                        }


                        .follow-cursor {
                            display: none; }



                            .container {
                                max-width: 795px;
                                margin: 0 auto;
                                padding: 0 10px;
                                position: relative;
                            }
}