* {
    box-sizing: border-box;
}

body {
    background: #010922;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    line-height: 27.50px;
}

.container {
    max-width: 1035px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    margin-top: 103px;
    margin-bottom: 16px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 49px;
}

.menu__list-link {
    color: #E5E5E5;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: 27.50px;
    text-decoration: none;
}

.top {
    margin-bottom: 133px;
}

.top__inner {
    padding: 84px 0 40px;
    background-image: url('../img/top-bg.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.top__title {
    font-size: 87px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 48px;
    max-width: 505px;
}

.blink-title {
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.top__text {
    margin-bottom: 50px;
    max-width: 435px;
}

.top__link-buy {
    margin-right: 39px;
    color: white;
    font-size: 18px;
    font-family: Outfit;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 43px;
    letter-spacing: 4.68px;
    word-wrap: break-word;
    text-decoration: none;
    padding: 22px 40px;
    background-color: #8D8DDA;
    border-radius: 149px;
}

.top__link-sell {
    color: white;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 43px;
    letter-spacing: 4.68px;
    word-wrap: break-word;
    padding: 22px 34px;
    border-radius: 149px;
    border: 1px solid #89D0D1;
    text-decoration: none;
}

.article {
    margin-bottom: 80px;
}

.article__title {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 43px;
    letter-spacing: 4.68px;
    word-wrap: break-word;
    margin-bottom: 28px;
    margin-left: 59px;
}

.article__comp {
    padding: 10px 48px;

    background: rgba(46, 39, 97, 0.80);
    border-radius: 20px;
}

/* 
.article__comp:after {
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(37, 33, 85, 0) 0%,
      rgba(37, 33, 85, 1) 100%
    );
  } */

.article__comp:after {
    right: 0;
    background: linear-gradient(90deg,
    rgba(6, 39, 97, 0) 0%,
    rgba(6, 39, 97, 1) 100%);
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__comp-img+.article__comp-img {
    margin-left: 76px;
}

.items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
}

.items-wrap:before,
.items-wrap:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.items-wrap:before {
    left: 0;
    background: linear-gradient(90deg,
    rgba(37, 33, 85, 1) 0%,
    rgba(37, 33, 85, 0) 100%);
}

.items-wrap:after {
    right: 0;
    background: linear-gradient(90deg,
    rgba(37, 33, 85, 0) 0%,
    rgba(37, 33, 85, 1) 100%);
}

.items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
}

.item {
    display: flex;
    justify-content: center;
}


.marquee {
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}



  /* курсор с кружочком*/
  .follow-cursor {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #89D0D1;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%); /* центрируем кружок */
    position: absolute; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
    z-index: 999; /* чтобы элемент был над остальными элементами */
    pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
    transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
  }
  
  /* Активный класс для кружка при наведении на ссылку */
  .follow-cursor_active {
    height: 128px;
    width: 128px;
    border-width: 2px;
    background: rgba(137, 208, 209,0.32);
   
  }
  
  /*кружок при ширине браузера меньше 992px скрывается*/
  @media (max-width: 991.98px) {
    .follow-cursor {
      display: none;
    }
  }
  
  